
/* Dmack's Web Design Company */
@font-face {
 }
article, body, dd, div, dl, dt, figcaption, footer, h1, h2, h3, li, nav, ol, p, section, table, th, td, ul {
margin: 0;
padding: 0;
  font-family: 'CuprumFFURegular';
  src: url('Cuprum-webfont.eot');
  src: local('☺'), url('Cuprum-webfont.woff') format('woff'), url('Cuprum-webfont.ttf') format('truetype'), url('Cuprum-webfont.svg#webfontKLktnWy4') format('svg');
  font-weight: normal;
  font-style: normal;
  }
body {
  min-width: 44em;
  max-width: 60em;
  padding; 0;
  margin: auto;
  font-family: tahoma, arial, helvetica, sans-serif;
  }
figcaption {
  display: block;
  }
figure {
  display: block;
  float: right;
  margin: 0 0 0.5em 1em;
  padding: 0;
  }
h1, h2, h3 {
  text-align: center;
  font-family: Times New Roman, Georgia, Palatino, serif;
  }
h1 {
  margin: 0;
  margin-bottom: 1.5em;
  }
h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
  }
#contact {
   float: right;
   width: 12.5em;
   padding: 0.5em;
   margin-left: auto;
   margin-bottom: 0;
   }
#box {
   border-box: 60em;
   border-style: solid;
   border-color: gray;
   width: 60em;
   padding: 5em;
   font-family: Arial, Tahoma, Helvetica, Verdana, sans-serif;
   background: #CCFFFF;
   -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 2em auto;
  position: relative;
   }
table {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  border-collapse: collapse
  }
td {
  border: 1px solid black;
  padding: 0.25em;
  }
th {
  border-bottom: 1px solid black;
  padding: 0.25em;
  }
#maintext:first-line {
  font-weight: bold;
  font-size: 2em;
  line-height: 0.5em;
  }
#maintext:first-letter {
   font-size: 2em;
   line-height: 0.5em;
   }
#content {
   display: block;
   float: right;
   width: 32em;
   }
#content p {
   margin: 0.5em 0;
   float: right;
   }
#main img {
   padding-top: 1em;
   }
li img {
  position: absolute;
  left:  -40px
  top: -8px;
  }
#mainnav {
   text-align: left;
   padding: 0.25em;
   padding-left: 1em;
   width: 6em;
   left: 5px;
   position: absolute;
   left: 50px;
   }
#mainnav a { 
   text-decoration: none;
   }
#mainnav li {
   list-style-type: none;
   padding: 0.25em;
   margin: 0.25em;
   position: relative;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -webkit-box-shadow: 2px 2px 4px black;
  -moz-box-shadow: 2px 2px 4px black;
  box-shadow: 2px 2px 4px black;
  }
#mainnav ul {
   margin: 0;
   padding: 0;
   position: relative;
   top: 2em;
   z-index: 2;
   }
#navaccent {
   width: 1.5em;
   height: 12.25em;
   position: relative;
   clear: right;
   top: -10em;
   left: -0.75em;
   z-index: 1;
   }
#contactinfo label {
   display: block;
   position: relative;
   margin: 12px 0;
   }
#contactinfo input {
   position: absolute;
   left: 100px;
   }
#nameinput, #emailinput {
  width: 30em;
  }
#phoneinput {
  width: 12em;
  }
#submit {
  font-size: 1.25em;
  }
#submitbutton {
  border: none;
  padding: 0.5em 0 0 0;
  text-align: center;
  }  
input:focus, textarea:focus {
  }  
.boxshadow {
   border: none;
  -webkit-box-shadow: 2px 2px 4px black;
  -moz-box-shadow: 2px 2px 4px black;
  box-shadow: 2px 2px 4px black;
  }
.cotcol {
  width: 15%;
  }
.firstcol {
  width: 25%;
  }
.rates td {
  text-align: center;
  }
.rates td. system {
  text-align: left;
  }
.web appcols {
  width: 15%;
  }
p {
   text-align: left;
   width: 60%;
   margin-left: auto;
   margin-right: auto;
   }
.toplink {
   text-align: right;
   padding: 0 1em 0 0:
   margin: 0;
   clear: right;
   }
#callout {
  font-weight: bold;
  }    
#title {
  font-style: italic;
  }
#name {
  font-weight: bold;
  }
#mainnav a:link {
  color: black;
  }
#mainnav a:visited {
  color: black;
  }
#mainnav a:hover {
  color: black;
  text-shadow: 2px 2px 2px black;
  }
#mainnav a:active {
  color: black;
  }
#pagenav a:link {
  color: black;
  }
#pagenav a:visited {
  color: black;
  }
#pagenav a:hover {
  color: black;
  }
#pagenav a:active {
  color: black;
  }
